# {{ ansible_managed }}
compatibility_level = 2
myorigin = srcf.net
myhostname = {{ mail_hostname|default(mail_hostname_default)|mandatory }}
mydestination =
relayhost = {{ mail_relay|default("ppsw.cam.ac.uk") }}
mynetworks = 127.0.0.0/8 [::1]/128
inet_protocols = all
smtp_use_tls = yes
smtp_tls_note_starttls_offer = yes
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
smtp_tls_loglevel = 1
transport_maps = hash:/var/lib/postfix/srcf-server-transport
